<p id="notice"><%= notice %></p>

<h1>The Incredible Music Box</h1>

<div>
  <div class="key" id="k81">
    <kbd>q</kbd>
    <span>boom</span>
  </div>
  <div class="key" id="k83">
    <kbd>s</kbd>
      <span>clap</span>
  </div>
  <div class="key" id="k68">
    <kbd>d</kbd>
        <span>hihat</span>
  </div>
  <div class="key" id="k70">
    <kbd>f</kbd>
          <span>kick</span>
  </div>
  <div class="key" id="k71">
    <kbd>g</kbd>
    <span>openhat</span>
  </div>
</div>

<%= audio_tag "boom.wav", id:"audio81" %>
<%= audio_tag "clap.wav", id:"audio83" %>
<%= audio_tag "hihat.wav", id:"audio68" %>
<%= audio_tag "kick.wav", id:"audio70" %>
<%= audio_tag "openhat.wav", id:"audio71" %>

